.embedded-note-titles .markdown-preview-view > h1 {
  /* ...preview mode styles... */
}

.embedded-note-titles .is-readable-line-width.markdown-preview-view > h1 {
  /* ...preview mode styles with readable line width enabled... */
}

.embedded-note-titles .CodeMirror-scroll > h1 {
  /* ...edit mode styles... */
}

.embedded-note-titles .is-readable-line-width .CodeMirror-scroll > h1 {
  /* ...edit mode styles with readable line width enabled... */
}

.embedded-note-titles .markdown-preview-view > h1,
.embedded-note-titles .is-readable-line-width.markdown-preview-view > h1,
.embedded-note-titles .CodeMirror-scroll > h1,
.embedded-note-titles .is-readable-line-width .CodeMirror-scroll > h1 {
  margin-top: 1.3em;
  opacity: 0.5;
  margin-bottom: 1em;
}

.markdown-preview-section h1:first-of-type {
  margin-block-start: 0;
  margin-top: 0;
}

.markdown-preview-view h1,
.cc-pretty-preview .markdown-preview-view h1 {
  margin-top: 1.6rem;
  margin-bottom: .8rem;
}

.markdown-preview-view h2,
.cc-pretty-preview .markdown-preview-view h2 {
  margin-top: 1.2rem;
  margin-bottom: .8rem;
}
